//
// Global Variables
//
$color-primary: #C0DE01;
$color-tertiary: #FFED01;
$color-white: #FFF;
$color-black: #000;
$color-gray: #9E9E9E;
$color-light-gray: #E9E9E9;
$color-yellow: #FEEB35;
$color-blue: #36BEF9;
$color-strong-blue: #1C56E8;