/* ------------------------------------------------------------ *\
	Product Styles
\* ------------------------------------------------------------ */
.product {
	position: relative;

	.product__head {
		position: relative;
	}

	.product__images {
		position: relative;

		.product__images--secondary {
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			height: 100%;
			width: 100%;
		}
	}

	.product__tags {
		position: absolute;
		top: 5px;
		left: 5px;
	}

	.product__tag {
		display: block;
		margin-bottom: 7px;
		padding: 5px 8px;
		font-size: 14px;
	}

	.product__tag--sale {
		background: $color-primary;
		color: $color-black;
	}

	.product__tag--pack {
		background: $color-strong-blue;
		color: $color-white;	
	}

	.product__body {
		position: relative;
	}

	.product__body-content {
		padding: 80px 20px 20px;
	}

	.product__actions {
		position: absolute;
		top: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 15px;
		width: 100%;
		height: 46px;
		visibility: hidden;
		opacity: 0;
		transform: translateY(30px);
		background: rgba(233,233,233,.8);
		transition: opacity .3s, visibility .3s, transform .3s;

		.product__actions-link {
			transition: color .3s;

			&:hover {
				color: $color-primary;
			}
		}

		a + a {
			margin-left: 20px;
		}
	}

	.product__link {
		display: block;
		margin-bottom: 27px;
		font-size: 16px;
		transition: color .3s;

		&:hover {
			color: $color-primary;
		}
	}

	.product__pricing {
		font-size: 20px;

		.pricing--discount {
			font-size: 30px;
		}

		span {
			margin: 0 10px;
		}
	}


	&:hover {
		box-shadow: 0 0 6px 0 rgba(0,0,0,.1);

		.product__images {
			.product__images--primary {
				visibility: hidden;
				opacity: 0;
			}

			.product__images--secondary {
				display: inline-block;
			}
		}

		.product__actions {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}
}